<app-blank title="Sepetim" sectionTitle="Sepetteki Ürünler">
    <div class="row">
        <div class="col-md-9">
            <app-table [heads]='[
    "#",
    "Ürün Resmi",
    "Ürün Adı",    
    "Adet",
    "Birim Fiyatı",
    "Toplam Tutar",    
    "İşlemler"]'>
    <tr *ngFor="let basket of baskets let index = index">
        <td>{{index + 1}}</td>
        <td>
            <img [src]="'http://localhost:5000/' + basket?.products[0]?.imageUrls[0]?.path" width="50"/>
        </td>
        <td>{{basket?.products[0]?.name}}</td>        
        <td>{{basket.quantity}}</td>
        <td>{{basket.price}}</td>
        <td>{{+(basket.price * basket.quantity).toFixed(2) | trCurrency }} ₺</td>        
        <td>           
            <button (click)="removeById(basket._id)" class="btn btn-outline-danger btn-sm mx-1" title="Sil">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
    </app-table>
        </div>
        <div class="col-md-3" style="border: 1px solid #ccc; padding: 10px;">            
            <h3 class="alert alert-danger">
                Ödenecek: {{sum | trCurrency}} ₺
            </h3>
            <button (click)="createOrder()" *ngIf="baskets.length > 0" class="btn btn-danger w-100">
                Ödeme Yap
            </button>
        </div>
    </div>
</app-blank>