<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">E-Ticaret</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Ana Sayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/orders">Siparişlerim</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ürünler
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/products">Ürünler</a></li>
              <li><a class="dropdown-item" routerLink="/categories">Kategoriler</a></li>              
            </ul>
          </li>          
        </ul>
        <button routerLink="/baskets" type="button" class="btn btn-outline-success position-relative">
            <i class="fa-solid fa-cart-shopping"></i>            
            <span class="position-absolute top-100 start-0 translate-middle badge rounded-pill bg-danger">
              {{_basket.count}}
            </span>
        </button>       
        <button class="btn btn-outline-danger mx-1" type="button">Çıkış Yap</button>
      </div>
    </div>
  </nav>