span{
    position: relative;
}

span:hover{
    cursor: pointer;
    opacity: 0.7;
}

span:hover:afer{
    content:"\f1f8";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px black;
}
