.cerceve{    
    padding: 10px;
    padding-left: 0px;
}

ul li{
    list-style: none;
    padding: 10px;
    padding-left: 5px;
    border: 1px solid #ccc; 
    cursor: pointer;   
}

.active{
    background-color: cornflowerblue;
    color: white;    
}