<app-blank title="Siparişlerim" sectionTitle="Sipariş Listem">
    <app-table [heads]='[
    "#",
    "Sipariş Tarihi",
    "Ürün Resmi",
    "Ürün Adı",    
    "Adet",
    "Birim Fiyatı",
    "Toplam Tutar"]'>
    <tr *ngFor="let order of orders let index = index">
        <td>{{index + 1}}</td>
        <td>{{order.createdDate |date: 'dd.MM.yyyy HH:mm:ss'}}</td>
        <td>
            <img [src]="'http://localhost:5000/' + order?.products[0]?.imageUrls[0]?.path" width="50"/>
        </td>
        <td>{{order?.products[0]?.name}}</td>        
        <td>{{order.quantity}}</td>
        <td>{{order.price}}</td>
        <td>{{+(order.price * order.quantity).toFixed(2) | trCurrency }} ₺</td> 
    </tr>
    </app-table>
</app-blank>